$primary-color: #EA80FC;
$text-color: #DDDDDD;
$background-color: #222222;
$background-accent-color: #333333;
$border-radius: 0.25rem;
$border-style: 1px solid #999999;
$header-height: 60px;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1rem;
  margin: 0;
}

header {
  align-items: center;
  background-color: $background-color;
  border-bottom: $border-style;
  display: flex;
  font-weight: bold;
  height: $header-height;
  justify-content: space-between;
  padding: 0 1rem;
  h1 {
    font-size: 1.5rem;
  }
}

select, button {
  background-color: $background-color;
  border-radius: $border-radius;
  cursor: pointer;
  height: 1.75rem;
  padding: 0 0.25rem;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  display: flex;
  > div {
    height: calc(100dvh - $header-height - 1px - 2rem);
  }
}

#preview-view {
  border-left: $border-style;
  flex: 1;
  max-width: calc(50% - 2rem * 2);
  overflow: auto;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  table {
    background-color: $background-accent-color;
    border-collapse: separate;
    border-radius: $border-radius;
    border-spacing: 0;
    width: 100%;

    tr {
      transition: background-color 0.1s;
      &:hover {
        background-color: $background-color;
      }
      th, td {
        border-right: $border-style;
        max-width: 120px;
        padding: 0.5rem 1rem;
      }
      th {
        background-color: $background-color;
      }
      td {
        border-bottom: $border-style;
        word-break: break-word;
      }
      th:first-child, td:first-child {
        border-left: $border-style;
      }
      &:first-child {
        th, td {
          border-top: $border-style;
        }
        th:first-child {
          border-top-left-radius: $border-radius;
        }
        th:last-child {
          border-top-right-radius: $border-radius;
        }
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: $border-radius;
        }
        td:last-child {
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2rem - 0.25rem * ($i - 1);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  h1 {
    border-bottom: $border-style;
    padding-bottom: 0.25rem;
  }

  ol, ul {
    padding-inline-start: 2rem;
    li {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  a {
    svg {
      height: 0.875rem;
      margin-left: 0.25rem;
      width: 0.875rem;
    }
  }

  pre {
    background-color: $background-accent-color;
    border-radius: $border-radius;
    border: $border-style;
    max-width: 100%;
    overflow: auto;
    padding: 0.5rem 1rem;
  }

  img {
    width: 60px;
    border-radius: $border-radius;
  }
}

#json-view,
#html-view,
#markdown-view {
  flex: 1;
  overflow: auto;
  padding-bottom: 2rem;

  .cm-editor {
    border: none;
    &.cm-focused .cm-cursor {
      border-left-color: inherit;
    }
  }
  .cm-foldGutter span {
    color: $primary-color;
  }
  .cm-gutters {
    background-color: $background-accent-color;
    border-right: $border-style;
    color: $text-color;
  }
  .cm-matchingBracket {
    background-color: $primary-color
  }
  .cm-activeLine {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-activeLineGutter {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-line::selection {
    background-color: rgba($primary-color, 0.75) !important;
  }
  .cm-selectionBackground {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-foldPlaceholder {
    color: $text-color;
    border-radius: $border-radius;
    background-color: $primary-color
  }
}
