@use "sass:map";

$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);

$container-max-width: (
  md: 600px,
  lg: 960px,
  xl: 1280px,
);

$primary-color: #EA80FC;
$text-color: #DDDDDD;
$background-color: #222222;
$background-accent-color: #333333;
$border-color: #999999;
$border-radius: 0.25rem;
$border-style: 1px solid $border-color;
$header-height: 60px;
$toolbar-height: 60px;

:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
  color-scheme: light dark;
  color: $text-color;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

* {
  &, &::before, &::after {
    box-sizing: inherit;
  }
}

body {
  font-size: 1rem;
  margin: 0;
}

header {
  align-items: center;
  background-color: $background-color;
  border-bottom: $border-style;
  display: flex;
  font-weight: 700;
  height: $header-height;
  justify-content: space-between;
  padding: 0 1rem;
  h1 {
    font-size: 1.5rem;
  }
}

button,
select {
  background-color: $background-color;
  border-radius: $border-radius;
  cursor: pointer;
  height: 2rem;
  padding: 0 0.25rem;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  height: 1rem;
  width: 1rem;
}

.container {
  margin: 0 auto;
  @each $key, $value in $breakpoints {
    @media (min-width: $value) {
      max-width: map.get($container-max-width, $key);
    }
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.toolbar {
  align-items: center;
  border-bottom: $border-style;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 1rem;
}

.button-group {
  border: $border-style;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  label {
    align-items: center;
    background-color: transparent;
    border-radius: $border-radius;
    border: none;
    display: flex;
    height: calc(2rem - 0.25rem * 2 - 2px);
    justify-content: center;
    padding: 0 0.5rem;
    transition: background-color 0.25s;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 2px;
    }
    @at-root input:checked + label,
    &:hover {
      background-color: $background-accent-color;
    }
  }
}

.cm-editor {
  border: none;
  &.cm-focused {
    .cm-cursor {
      border-left-color: inherit;
    }
  }
  .cm-activeLine {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-activeLineGutter {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-foldGutter {
    span {
      color: $primary-color;
    }
  }
  .cm-foldPlaceholder {
    color: $text-color;
    border-radius: $border-radius;
    background-color: $primary-color
  }
  .cm-gutters {
    background-color: $background-accent-color;
    border-right: $border-style;
    color: $text-color;
  }
  .cm-line::selection {
    background-color: rgba($primary-color, 0.75) !important;
  }
  .cm-matchingBracket {
    background-color: $primary-color
  }
  .cm-selectionBackground {
    background-color: rgba($primary-color, 0.25);
  }
  .cm-tooltip-lint {
    background-color: $background-accent-color;
  }
}

.pane {
  padding-bottom: 2rem;
  overflow: auto;
  height: calc(100dvh - $header-height - 1px - $toolbar-height - 1px - 2rem);
}

.pane-left {
  max-width: 80%;
  min-width: 20%;
  width: 50%;
}

.pane-right {
  flex: 1;
}

.splitter {
  background-color: $border-color;
  cursor: col-resize;
  user-select: none;
  width: 2px;
  &:hover,
  &.active {
    background-color: $primary-color;
  }
}

.markdown {
  padding-left: 2rem;
  padding-right: 2rem;
  a {
    display: inline-block;
    svg {
      margin-left: 0.25rem;
    }
  }
  table {
    border-collapse: separate;
    border-radius: $border-radius;
    border-spacing: 0;
    margin: 1rem 0;
    width: 100%;
    tr {
      transition: background-color 0.25s;
      &:hover {
        background-color: $background-accent-color;
      }
      th, td {
        border-right: $border-style;
        max-width: 120px;
        padding: 0.5rem 1rem;
      }
      th {
        background-color: $background-color;
      }
      td {
        border-bottom: $border-style;
        word-break: break-word;
        &:has(pre) {
          padding: 0;
          width: 50%;
          pre {
            border: 0;
            height: 400px;
            margin: 0;
            padding: 0;
            code {
              height: 100%;
            }
          }
        }
      }
      th:first-child, td:first-child {
        border-left: $border-style;
      }
      &:first-child {
        th, td {
          border-top: $border-style;
        }
        th:first-child {
          border-top-left-radius: $border-radius;
        }
        th:last-child {
          border-top-right-radius: $border-radius;
        }
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: $border-radius;
        }
        td:last-child {
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-size: 2rem - 0.25rem * ($i - 1);
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }
  h1 {
    border-bottom: $border-style;
    padding-bottom: 0.25rem;
  }
  ol, ul {
    padding-inline-start: 2rem;
    li {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
  p {
    code {
      background-color: $background-accent-color;
      border-radius: $border-radius;
      padding: 0.25rem;
      word-break: break-all;
    }
  }
  pre {
    border-radius: $border-radius;
    border: $border-style;
    margin: 1rem 0;
    max-height: 400px;
    overflow: auto;
    padding: 0.5rem 1rem;
    code {
      background-color: inherit;
    }
  }
  img {
    width: 60px;
    border-radius: $border-radius;
  }
  .anchor {
    align-items: center;
    color: $text-color;
    display: flex;
    margin-left: -1.25rem;
    text-decoration: none;
    width: fit-content;
    svg {
      margin-right: 0.25rem;
      visibility: hidden;
      @at-root .anchor:hover svg {
        visibility: visible;
      }
    }
  }
  .table-of-contents {
    $font-size: 0.875rem;
    background-color: $background-accent-color;
    border-radius: $border-radius;
    border: $border-style;
    font-size: $font-size;
    max-height: 50dvh;
    max-width: 300px;
    overflow: auto;
    padding: 1rem;
    position: fixed;
    top: calc($header-height + 1px + $toolbar-height + 1px + 2rem);
    @each $key, $value in $breakpoints {
      @media (min-width: $value) {
        $container-width: map.get($container-max-width, $key);
        @if $container-width != null {
          right: calc((100dvw + $container-width) / 2 + 2rem);
          width: calc((100dvw - $container-width) / 2 - 2rem * 2 - 1rem * 2 - 2px);
        }
      }
    }
    @media screen and (max-width: map.get($container-max-width, lg)) {
      display: none;
    }
    ul {
      margin: 0;
      padding-inline-start: $font-size;
    }
    > ul {
      padding-inline-start: 0;
    }
    li {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      a {
        color: $text-color;
      }
      &.active > a,
      a:hover {
        color: $primary-color;
      }
      :not(.expanded, .active) > ul {
        display: none;
      }
    }
  }
}
